# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [38]:
# import libraries
import requests
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from pathlib import Path

In [39]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [40]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [41]:
# merge datasets
df = messages.merge(categories,how='inner',on = 'id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [42]:
#Check the shape and size of all three dataframes.
print (messages.shape,categories.shape,df.shape) # Clearly there are duplicates

(26248, 4) (26248, 2) (26386, 5)

## 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [43]:
#Verify values in single row of dataframe before splitting.
categories['categories'][0]

'related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0'

In [44]:
#categories['categories'].str.split(';',expand = True)

In [45]:
# create a dataframe of the 36 individual category columns
categories = categories['categories'].str.split(';',expand = True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [46]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x[:-2])
print(category_colnames) #visual test of values

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [47]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [48]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str.extract('(\d+)',expand = False).astype(int)
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)

categories.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  This is separate from the ipykernel package so we can avoid doing imports until

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
categories.dtypes # Verify all dtypes of dataframe

0
related                   int64
request                   int64
offer                     int64
aid_related               int64
medical_help              int64
medical_products          int64
search_and_rescue         int64
security                  int64
military                  int64
child_alone               int64
water                     int64
food                      int64
shelter                   int64
clothing                  int64
money                     int64
missing_people            int64
refugees                  int64
death                     int64
other_aid                 int64
infrastructure_related    int64
transport                 int64
buildings                 int64
electricity               int64
tools                     int64
hospitals                 int64
shops                     int64
aid_centers               int64
other_infrastructure      int64
weather_related           int64
floods                    int64
storm                     int64
fire                      int64
earthquake                int64
cold                      int64
other_weather             int64
direct_report             int64
dtype: object

In [50]:
df.dtypes

id             int64
message       object
original      object
genre         object
categories    object
dtype: object

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [51]:
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [52]:
# drop the original categories column from `df`
df.drop('categories',axis=1,inplace=True)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [53]:
print (df.shape,categories.shape) #check shape of both df before concatenation

(26386, 4) (26248, 36)

In [54]:
print (np.where(np.isnan(categories))) #verify nan values in df

(array([], dtype=int64), array([], dtype=int64))

In [55]:
df.reset_index(inplace=True) # Reset index of clean dataframe after many operations. 
categories.reset_index(inplace=True)# Reset index of clean dataframe after many operations.

In [56]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df,categories],axis=1,join='inner')# used inner join to avoid NaN values and int changing to float
df.head()

,index,id,message,original,genre,index,related,request,offer,aid_related,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,1,0,0,1,...,0,0,1,0,1,0,0,0,0,0
2,2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,3,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
#df.iloc[26248]

In [58]:
print (df.shape,categories.shape,df.dtypes)

(26248, 42) (26248, 37) index                      int64
id                         int64
message                   object
original                  object
genre                     object
index                      int64
related                    int64
request                    int64
offer                      int64
aid_related                int64
medical_help               int64
medical_products           int64
search_and_rescue          int64
security                   int64
military                   int64
child_alone                int64
water                      int64
food                       int64
shelter                    int64
clothing                   int64
money                      int64
missing_people             int64
refugees                   int64
death                      int64
other_aid                  int64
infrastructure_related     int64
transport                  int64
buildings                  int64
electricity                int64
tools                      int64
hospitals                  int64
shops                      int64
aid_centers                int64
other_infrastructure       int64
weather_related            int64
floods                     int64
storm                      int64
fire                       int64
earthquake                 int64
cold                       int64
other_weather              int64
direct_report              int64
dtype: object

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [59]:
# check number of duplicates
print (len(df[df.duplicated('id',keep=False)]))
print (df.shape,categories.shape)
print (df[df.duplicated('id',keep=False)])

273
(26248, 42) (26248, 37)
       index     id                                            message  \
162      162    202  ?? port au prince ?? and food. they need gover...
163      163    202  ?? port au prince ?? and food. they need gover...
164      164    202  ?? port au prince ?? and food. they need gover...
165      165    202  ?? port au prince ?? and food. they need gover...
657      657    804  elle est vraiment malade et a besoin d'aide. u...
658      658    804  elle est vraiment malade et a besoin d'aide. u...
659      659    804  elle est vraiment malade et a besoin d'aide. u...
660      660    804  elle est vraiment malade et a besoin d'aide. u...
713      713    862  What is the address of the radio station? I as...
714      714    862  What is the address of the radio station? I as...
715      715    862  What is the address of the radio station? I as...
716      716    862  What is the address of the radio station? I as...
1413    1413   1652  please we need water, food and tents, we have ...
1414    1414   1652  please we need water, food and tents, we have ...
1415    1415   1652  please we need water, food and tents, we have ...
1416    1416   1652  please we need water, food and tents, we have ...
2138    2138   2446  How much money did TV Latino American collect ...
2139    2139   2446  How much money did TV Latino American collect ...
2140    2140   2446  How much money did TV Latino American collect ...
2141    2141   2446  How much money did TV Latino American collect ...
2802    2802   3217  Sir or madam, I'm hungry, I cannot stand becau...
2803    2803   3217  Sir or madam, I'm hungry, I cannot stand becau...
2804    2804   3217  Sir or madam, I'm hungry, I cannot stand becau...
2805    2805   3217  Sir or madam, I'm hungry, I cannot stand becau...
2836    2836   3250  I thought you gave my number and this was seri...
2837    2837   3250  I thought you gave my number and this was seri...
2838    2838   3250  I thought you gave my number and this was seri...
2839    2839   3250  I thought you gave my number and this was seri...
3387    3387   3882  I am in Carefour Feuilles, Dkayet neighborhood...
3388    3388   3882  I am in Carefour Feuilles, Dkayet neighborhood...
...      ...    ...                                                ...
21483  21483  24779  Shelter materials (thick polyesters) are being...
21484  21484  24779  Shelter materials (thick polyesters) are being...
22151  22151  25512  The flood situation has worsened with nearly 3...
22152  22152  25512  The flood situation has worsened with nearly 3...
22153  22153  25512  The flood situation has worsened with nearly 3...
22154  22154  25512  The flood situation has worsened with nearly 3...
23735  23735  27296  The regime says the charter will clear the way...
23736  23736  27296  The regime says the charter will clear the way...
23737  23737  27296  The regime says the charter will clear the way...
23738  23738  27296  The regime says the charter will clear the way...
24167  24167  27768  An EU-backed French offensive against rebels r...
24168  24168  27768  An EU-backed French offensive against rebels r...
24169  24169  27768  An EU-backed French offensive against rebels r...
24170  24170  27768  An EU-backed French offensive against rebels r...
24777  24777  28462  To date, a total of 39 people suffering from E...
24778  24778  28462  To date, a total of 39 people suffering from E...
24779  24779  28462  To date, a total of 39 people suffering from E...
24780  24780  28462  To date, a total of 39 people suffering from E...
24987  24987  28687  At present, UNHCR has 2,500 additional tents a...
24988  24988  28687  At present, UNHCR has 2,500 additional tents a...
24989  24989  28687  At present, UNHCR has 2,500 additional tents a...
24990  24990  28687  At present, UNHCR has 2,500 additional tents a...
25289  25289  29022  In a field in Jallouzai, just inside Pakistan,...
25290  25290  29022  In a field in Jallouzai, just inside Pakistan,...
25291  25291  29022  In a field in Jallouzai, just inside Pakistan,...
25292  25292  29022  In a field in Jallouzai, just inside Pakistan,...
25377  25377  29119  Most victims (90 per cent) show little or no s...
25378  25378  29119  Most victims (90 per cent) show little or no s...
25379  25379  29119  Most victims (90 per cent) show little or no s...
25380  25380  29119  Most victims (90 per cent) show little or no s...

                                                original   genre  index  \
162    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct    162
163    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct    163
164    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct    164
165    p bay pap la syen ak manje. Yo bezwen ed gouve...  direct    165
657    she is really sick she need your help. please ...  direct    657
658    she is really sick she need your help. please ...  direct    658
659    she is really sick she need your help. please ...  direct    659
660    she is really sick she need your help. please ...  direct    660
713    Ki adres radyo a? Paske m bezwen al depoze dos...  direct    713
714    Ki adres radyo a? Paske m bezwen al depoze dos...  direct    714
715    Ki adres radyo a? Paske m bezwen al depoze dos...  direct    715
716    Ki adres radyo a? Paske m bezwen al depoze dos...  direct    716
1413   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct   1413
1414   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct   1414
1415   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct   1415
1416   p jwen dlo, manje, tant pou nou demi nou gen 1...  direct   1416
2138         Konbyen kob tv latino america ranmase miami  direct   2138
2139         Konbyen kob tv latino america ranmase miami  direct   2139
2140         Konbyen kob tv latino america ranmase miami  direct   2140
2141         Konbyen kob tv latino america ranmase miami  direct   2141
2802   Mesye ou madam mwen grangou mwen pa menm kakan...  direct   2802
2803   Mesye ou madam mwen grangou mwen pa menm kakan...  direct   2803
2804   Mesye ou madam mwen grangou mwen pa menm kakan...  direct   2804
2805   Mesye ou madam mwen grangou mwen pa menm kakan...  direct   2805
2836   Mwen tepanse le nou tebay nimewo a se yon afse...  direct   2836
2837   Mwen tepanse le nou tebay nimewo a se yon afse...  direct   2837
2838   Mwen tepanse le nou tebay nimewo a se yon afse...  direct   2838
2839   Mwen tepanse le nou tebay nimewo a se yon afse...  direct   2839
3387   Mwen nan kafou fy zon dekayt nou beswen dlo po...  direct   3387
3388   Mwen nan kafou fy zon dekayt nou beswen dlo po...  direct   3388
...                                                  ...     ...    ...
21483                                                NaN    news  21483
21484                                                NaN    news  21484
22151                                                NaN    news  22151
22152                                                NaN    news  22152
22153                                                NaN    news  22153
22154                                                NaN    news  22154
23735                                                NaN    news  23735
23736                                                NaN    news  23736
23737                                                NaN    news  23737
23738                                                NaN    news  23738
24167                                                NaN    news  24167
24168                                                NaN    news  24168
24169                                                NaN    news  24169
24170                                                NaN    news  24170
24777                                                NaN    news  24777
24778                                                NaN    news  24778
24779                                                NaN    news  24779
24780                                                NaN    news  24780
24987                                                NaN    news  24987
24988                                                NaN    news  24988
24989                                                NaN    news  24989
24990                                                NaN    news  24990
25289                                                NaN    news  25289
25290                                                NaN    news  25290
25291                                                NaN    news  25291
25292                                                NaN    news  25292
25377                                                NaN    news  25377
25378                                                NaN    news  25378
25379                                                NaN    news  25379
25380                                                NaN    news  25380

       related  request  offer  aid_related      ...        aid_centers  \
162          1        1      0            1      ...                  0
163          1        1      0            1      ...                  0
164          1        1      0            1      ...                  0
165          1        1      0            1      ...                  0
657          1        0      0            0      ...                  0
658          1        0      0            1      ...                  0
659          1        1      0            1      ...                  0
660          1        1      0            1      ...                  0
713          0        0      0            0      ...                  0
714          1        1      0            1      ...                  0
715          1        1      0            1      ...                  0
716          0        0      0            0      ...                  0
1413         1        0      0            0      ...                  0
1414         1        0      0            0      ...                  0
1415         0        0      0            0      ...                  0
1416         0        0      0            0      ...                  0
2138         1        1      0            0      ...                  0
2139         1        0      0            1      ...                  0
2140         1        0      0            0      ...                  0
2141         1        0      0            1      ...                  0
2802         1        1      0            1      ...                  0
2803         1        0      0            0      ...                  0
2804         1        1      0            1      ...                  0
2805         1        1      0            1      ...                  0
2836         1        1      0            1      ...                  0
2837         1        0      0            0      ...                  0
2838         1        1      0            1      ...                  0
2839         1        1      0            1      ...                  0
3387         1        1      0            1      ...                  0
3388         1        1      0            1      ...                  0
...        ...      ...    ...          ...      ...                ...
21483        0        0      0            0      ...                  0
21484        0        0      0            0      ...                  0
22151        1        1      0            1      ...                  0
22152        1        0      0            0      ...                  0
22153        1        0      0            0      ...                  0
22154        1        0      0            1      ...                  0
23735        0        0      0            0      ...                  0
23736        1        0      0            1      ...                  0
23737        1        0      0            0      ...                  0
23738        1        0      0            0      ...                  0
24167        1        0      0            1      ...                  0
24168        1        0      0            0      ...                  0
24169        1        0      0            1      ...                  0
24170        1        0      0            0      ...                  0
24777        1        0      0            0      ...                  0
24778        1        0      0            0      ...                  0
24779        1        0      0            1      ...                  0
24780        1        0      0            1      ...                  0
24987        0        0      0            0      ...                  0
24988        1        1      0            0      ...                  0
24989        1        0      0            0      ...                  0
24990        1        0      0            1      ...                  0
25289        0        0      0            0      ...                  0
25290        1        0      0            0      ...                  0
25291        1        0      0            0      ...                  0
25292        1        0      0            0      ...                  0
25377        1        0      0            1      ...                  0
25378        1        0      0            1      ...                  0
25379        1        0      0            1      ...                  0
25380        1        0      0            1      ...                  0

       other_infrastructure  weather_related  floods  storm  fire  earthquake  \
162                       0                0       0      0     0           0
163                       0                0       0      0     0           0
164                       0                0       0      0     0           0
165                       0                0       0      0     0           0
657                       0                0       0      0     0           0
658                       1                1       0      0     0           0
659                       0                0       0      0     0           0
660                       0                0       0      0     0           0
713                       0                0       0      0     0           0
714                       0                0       0      0     0           0
715                       0                0       0      0     0           0
716                       0                0       0      0     0           0
1413                      0                0       0      0     0           0
1414                      0                0       0      0     0           0
1415                      0                0       0      0     0           0
1416                      0                0       0      0     0           0
2138                      0                0       0      0     0           0
2139                      0                0       0      0     0           0
2140                      0                0       0      0     0           0
2141                      0                0       0      0     0           0
2802                      0                0       0      0     0           0
2803                      0                0       0      0     0           0
2804                      0                0       0      0     0           0
2805                      0                0       0      0     0           0
2836                      0                0       0      0     0           0
2837                      0                1       0      1     0           0
2838                      0                0       0      0     0           0
2839                      1                1       0      0     0           0
3387                      0                0       0      0     0           0
3388                      0                0       0      0     0           0
...                     ...              ...     ...    ...   ...         ...
21483                     0                0       0      0     0           0
21484                     0                0       0      0     0           0
22151                     0                1       1      0     0           0
22152                     0                0       0      0     0           0
22153                     0                0       0      0     0           0
22154                     0                1       0      0     0           0
23735                     0                0       0      0     0           0
23736                     0                1       1      0     0           0
23737                     0                0       0      0     0           0
23738                     0                0       0      0     0           0
24167                     0                0       0      0     0           0
24168                     0                0       0      0     0           0
24169                     0                0       0      0     0           0
24170                     0                0       0      0     0           0
24777                     0                0       0      0     0           0
24778                     0                0       0      0     0           0
24779                     0                0       0      0     0           0
24780                     0                0       0      0     0           0
24987                     0                0       0      0     0           0
24988                     0                0       0      0     0           0
24989                     0                1       0      1     0           1
24990                     0                0       0      0     0           0
25289                     0                0       0      0     0           0
25290                     0                0       0      0     0           0
25291                     0                0       0      0     0           0
25292                     0                0       0      0     0           0
25377                     0                0       0      0     0           0
25378                     0                0       0      0     0           0
25379                     0                0       0      0     0           0
25380                     0                0       0      0     0           0

       cold  other_weather  direct_report
162       0              0              0
163       0              0              0
164       0              0              1
165       0              0              1
657       0              0              0
658       0              1              0
659       0              0              1
660       0              0              1
713       0              0              0
714       0              0              1
715       0              0              1
716       0              0              0
1413      0              0              0
1414      0              0              0
1415      0              0              0
1416      0              0              0
2138      0              0              0
2139      0              0              0
2140      0              0              0
2141      0              0              1
2802      0              0              0
2803      0              0              0
2804      0              0              1
2805      0              0              1
2836      0              0              1
2837      0              1              0
2838      0              0              1
2839      0              1              1
3387      0              0              1
3388      0              0              1
...     ...            ...            ...
21483     0              0              0
21484     0              0              0
22151     0              0              0
22152     0              0              0
22153     0              0              0
22154     0              1              0
23735     0              0              0
23736     0              1              0
23737     0              0              0
23738     0              0              0

In [60]:
# drop duplicates
df.drop_duplicates(['id'],keep='first',inplace=True)

In [61]:
df.reset_index(inplace=True) # Reset index of clean dataframe after many operations.

In [62]:
# check number of duplicates
print (len(df[df.duplicated('id',keep=False)]))
print (df.shape,categories.shape)
print (df[df.duplicated('id',keep=False)])

0
(26042, 43) (26248, 37)
Empty DataFrame
Columns: [level_0, index, id, message, original, genre, index, related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 43 columns]

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [63]:
# Expected connection string for create_engine
#'sqlite:///ETLPipelineDatabase.db' #connection string

database_filename = 'ETLPipelineDatabase.db'
database_filename = 'sqlite:///' + database_filename
print('Database filename is:'+ database_filename)

engine = create_engine(database_filename)
df.to_sql('ETLPipeline_Table', engine,if_exists='replace', index=False)
print(database_filename , 'created successfully')

Database filename is:sqlite:///ETLPipelineDatabase.db
sqlite:///ETLPipelineDatabase.db created successfully

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.